Objet : Demande de stage / mission - développement logiciel

Bonjour,

Je suis étudiant en 1ʳᵉ année à Epitech La Réunion et je m'intéresse au développement de solutions logicielles personnalisées et de sites web-compétences qui, je crois, font écho à l'expertise d'Oct'Ed Ingénierie.

Je travaille actuellement sur un moteur de jeu orienté objet sous forme de librairie, afin de renforcer mes compétences en architecture logicielle et développement web.

Serait-il possible d'envisager un stage ou une mission courte au sein de votre structure ? Je serais ravi de vous montrer mes travaux et d'échanger sur la manière dont je pourrais contribuer.

Merci pour votre attention, je reste à votre disposition pour en discuter.

Bien cordialement,  
Prénom NOM  
0692 …  
GitHub: [lien]

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
